DB_SERVER = 'your_database_server'
DB_DATABASE = 'your_database_name'

class Config:
    SQLALCHEMY_DATABASE_URI = f'mssql+pyodbc://{DB_SERVER}/{DB_DATABASE}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes'